<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | EVA Hospital</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global-styles.css">
</head>
<body>
<div class="hero-card">
    <h1>Register</h1>
    <form th:action="@{/register}" th:object="${newUser}" method="post">
        <div class="card">
            <label for="email">Email:</label><br>
            <input type="email" id="email" th:field="*{email}" name="email" required><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" th:field="*{password}" name="password" required><br><br>
            <button type="submit" class="card">Register</button>
        </div>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</div>
</body>
</html>